#datasource
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=
spring.datasource.url=

#jooq
spring.jooq.sql-dialect=

#activemq
spring.activemq.broker-url=
spring.activemq.user=
spring.activemq.password=
spring.activemq.queues.camel-queue-name=
spring.activemq.packages.trusted=com.example.camelproject.models

#server
server.error.include-message=always

#camel
camel.springboot.routes-include-pattern=classpath:Routes/*
camel.servlet.mapping.context-path=/service/*
